@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,wght@0,700;1,700&family=League+Spartan:wght@400;700&display=swap');

:root {
    --amalfi-tile: #2e5aa7;
    --sea-breeze: #B6C5FF;
    --cream-gelato: #F8E6A0;
    --citrus-zest: #FFA62B;
    --glass: rgba(255, 255, 255, 0.15);
}

body {
    background: linear-gradient(135deg, var(--amalfi-tile), var(--sea-breeze));
    font-family: 'League Spartan', sans-serif;
    color: #fff;
    min-height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.judul h2 {
    font-family: 'League Spartan', serif;
    text-align: center;
    color: var(--cream-gelato);
    font-size: 3rem;
    margin-top: 10px;    /* Kecilkan margin atas */
    margin-bottom: 0px;  /* Kecilkan margin bawah */
}

.judul p {
    font-family: 'Bodoni Moda', serif;
    text-align: center;
    font-size: 1.5rem;
}

.glass-card {
    background: var(--glass);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 30px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}


.sub-judul {
    text-align: center;
    font-size: 0.9rem;
    margin-bottom: 20px;
}

.form-group { margin-bottom: 15px; }

label { display: block; margin-bottom: 5px; font-weight: bold; }

input, select {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: none;
    background: rgba(255, 255, 255, 0.9);
    font-size: 1rem;
    box-sizing: border-box;
}

#send-btn {
    width: 100%;
    padding: 15px;
    background: var(--citrus-zest);
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

#send-btn:disabled { background: #888; cursor: not-allowed; }
.glass-card h3 {
 text-align:center; color: #fff;
}
table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
    border: #fff;
}

th, td { padding: 12px; border-bottom: 1px solid rgba(255, 255, 255, 0.2); text-align: left; }
th { color: var#fff; }
.winner-row { background: rgba(255, 166, 43, 0.2); }